@page "/fetchhost"
@using HardwareExporterServer.Data
@inject HostInfoManager hostInfoManager
@inject HttpClient Http

<PageTitle>Windows host list</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (hosts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Host</th>
            <th>Port</th>
            <th>CreateTime</th>
            <th>UpdateTime</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var host in hosts)
        {
            <tr>
                <td>@host.HostIP</td>
                <td>@host.Port</td>
                <td>@host.CreateTime.ToShortDateString()</td>
                <td>@host.UpdateTime.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<HostInfo>? hosts;

    protected override void OnInitialized()
    {
        hosts = hostInfoManager.GetHostInfos();
    }
}