@page "/InsertHost"
@using HardwareExporterServer.Model
@using HardwareExporterServer.Services
@inject HostInfoManager hostInfoManager
@inject NavigationManager navigationManager
<h3>InsertHost</h3>

<Form ButtonText="Insert Host" HostInfoEntity="@_hostInfoEntity" OnValidSubmit="@Insert">
</Form>

@code {
    readonly HostInfoEntity _hostInfoEntity = new ();
    void Insert()
    {
        hostInfoManager.InsertHostInfo(_hostInfoEntity);
        navigationManager.NavigateTo("FetchHost");
    }
}