@page "/"
@using HardwareExporterWeb.Services
@inject LocalizationService L
@implements IDisposable

<PageTitle>@L["AppTitle"]</PageTitle>

<h1>@L["HelloWorld"]</h1>

<p>@L["WelcomeMessage"]</p>

@code {
    protected override void OnInitialized()
    {
        L.OnLanguageChanged += StateHasChanged;
    }

    public void Dispose()
    {
        L.OnLanguageChanged -= StateHasChanged;
    }
}
