@* https://blazor-university.com/routing/constraining-route-parameters/ *@
@page "/UpdateHost/{hostIP}"
@using HardwareExporterWeb.Models
@using HardwareExporterWeb.Services
@inject HostInfoManager hostInfoManager
@inject IJSRuntime js
@inject NavigationManager navigationManager
<h3>UpdateHost</h3>

<Form ButtonText="Update" HostInfo="@hostInfo" OnValidSubmit="@UpdateAsync"></Form>

@code {
    [Parameter]public string hostIP { get; set; }
    HostInfo hostInfo = new ();

    protected override async Task OnParametersSetAsync()
    {
        hostInfo = hostInfoManager.GetHostInfo(hostIP);
        await Task.CompletedTask;
    }
    
    async Task UpdateAsync()
    {
        hostInfoManager.UpdateHostInfo(hostIP, hostInfo.HostName, hostInfo.WindowsExporterPort, hostInfo.HardwareExporterPort);
        await js.InvokeVoidAsync("alert", "Update Successfully");
        navigationManager.NavigateTo("FetchHost");
    }
}